In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor

In [2]:
df = pd.read_csv('data/meta_open.csv')

In [3]:
df.head()

,uid,dataend,datastart,energystarscore,heatingtype,industry,mainheatingtype,numberoffloors,occupants,primaryspaceusage,rating,sqft,sqm,subindustry,timezone,yearbuilt,nickname,primaryspaceuse_abbrev,newweatherfilename,annualschedule
0,Office_Abbey,31/12/2015 23:00,01/01/2015 0:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,74180.0,6891.544540,College/University,America/Phoenix,1930,Abbey,Office,weather0.csv,schedule2.csv
1,Office_Abigail,31/12/2015 23:00,01/01/2015 0:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,9703.0,901.437809,College/University,America/Phoenix,1940,Abigail,Office,weather0.csv,schedule2.csv
2,Office_Al,31/12/2015 23:00,01/01/2015 0:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,118966.0,11052.298300,College/University,America/Phoenix,1988,Al,Office,weather0.csv,schedule2.csv
3,Office_Alannah,31/12/2015 23:00,01/01/2015 0:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,10135.0,941.571905,College/University,America/Phoenix,NaN,Alannah,Office,weather0.csv,schedule2.csv
4,Office_Aliyah,31/12/2015 23:00,01/01/2015 0:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,202435.0,18806.818810,College/University,America/Phoenix,1967,Aliyah,Office,weather0.csv,schedule2.csv

In [4]:
timezonedf = {'America/New_York', 'Europe/London', 'America/Phoenix', 'America/Chicago', 'America/Los_Angeles', 'Europe/Zurich', 'Asia/Singapore', 'America/Denver'}
industrydf = {'Education', 'Government', 'Commercial Property'}

In [8]:
while True:
    timezone = str(input("Enter timezone: "))
    if timezone not in timezonedf:
        print("Invalid Answer")
        continue
    else:
        break

Enter timezone:  America/Chicago

In [10]:
while True:
    industry=str(input("Please enter the industry "))
    if industry not in industrydf:
        print("This is an invalid answer")
        continue
    else:
        break

Please enter the industry  Education

In [11]:
filtered = df.loc[(df['timezone']==timezone)&(df['industry']==industry)]

filtered[['uid', 'newweatherfilename']]

                     uid newweatherfilename
90           Office_Mada       weather3.csv
91      Office_Madeleine       weather3.csv
92        Office_Madisyn       weather3.csv
93          Office_Malik       weather3.csv
94           Office_Marc       weather3.csv
95         Office_Marcia       weather3.csv
96         Office_Marcus       weather3.csv
97       Office_Marianne       weather3.csv
98        Office_Marilyn       weather3.csv
99         Office_Marion       weather3.csv
100          Office_Mark       weather3.csv
101         Office_Marla       weather3.csv
102        Office_Marlon       weather3.csv
103        Office_Martha       weather3.csv
104        Office_Martin       weather3.csv
105        Office_Marvin       weather3.csv
106          Office_Mary       weather3.csv
107       Office_Maryann       weather3.csv
108         Office_Mason       weather3.csv
109           Office_Mat       weather3.csv
110       Office_Matthew       weather3.csv
111           Office_Max       weather3.csv
112       Office_Maximus       weather3.csv
113          Office_Maya       weather3.csv
114         Office_Megan       weather3.csv
115       Office_Melinda       weather3.csv
116      Office_Mercedes       weather3.csv
117       Office_Michael       weather3.csv
118       Office_Micheal       weather3.csv
119          Office_Mick       weather3.csv
..                   ...                ...
168   PrimClass_Emanuela      weather26.csv
170      PrimClass_Emily      weather32.csv
172     PrimClass_Ernest      weather21.csv
180       PrimClass_Evie      weather11.csv
315   UnivClass_Maddison       weather3.csv
316       UnivClass_Nash       weather9.csv
317  UnivClass_Nathaniel       weather9.csv
318     UnivClass_Nayeli       weather9.csv
319      UnivClass_Nelly       weather9.csv
320   UnivClass_Nicholas       weather9.csv
321   UnivClass_Nickolas       weather9.csv
322     UnivClass_Nishka       weather9.csv
323     UnivClass_Noreen       weather9.csv
391     UnivDorm_Malachi       weather3.csv
392     UnivDorm_Malcolm       weather3.csv
393     UnivDorm_Marlene       weather3.csv
394     UnivDorm_Marquis       weather3.csv
395      UnivDorm_Mathew       weather3.csv
396    UnivDorm_Mauricio       weather3.csv
397    UnivDorm_Mckenzie       weather3.csv
398       UnivDorm_Mitch       weather3.csv
480         UnivLab_Mack       weather3.csv
481      UnivLab_Madelyn       weather3.csv
482      UnivLab_Margret       weather3.csv
483      UnivLab_Mariana       weather3.csv
484        UnivLab_Marie       weather3.csv
485        UnivLab_Mario       weather3.csv
486     UnivLab_Marshall       weather3.csv
487        UnivLab_Miles       weather3.csv
488         UnivLab_Neil       weather9.csv

[75 rows x 2 columns]